html {
    background-image: url(time\ machine.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: fantasy;
    text-align: center;
    font-size: 12px;
  }

  h1{
   color: yellow;
  }
  body {
    margin: 0;
    font-size: medium;
    display: flex;
    flex:1;
    min-height: 100vh;
    align-items: center;
  }

  .clock {
    width: 35rem;
    height: 30rem;
    border:20px solid yellow;
    border-radius:50%;
    margin:50px auto;
    position: relative;
    padding:2rem;
     }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width:50%;
    height:6px;
    background:orange;
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }